@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder { /* Firefox 18- */ @content; }
  &::-moz-placeholder { /* Firefox 19+ */ @content; }
  &:-ms-input-placeholder { @content; }
}

@mixin black-and-white-filter {
  filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

@mixin bypass-black-and-white-filter {
  filter: none;
  -webkit-filter: grayscale(0);
}
