-title "404 - Page not found"
.error
  %h1 404 - Page not found
  %p Looks like something went wrong, you might want to go back to the home page and try again.
  %a{ :href => "/" } take me to the home page